[submodule "ThirdParty/GLM"]
	path = ThirdParty/GLM
	url = https://github.com/g-truc/glm.git
	ignore = dirty
[submodule "ThirdParty/Bullet"]
	path = ThirdParty/Bullet
	url = https://github.com/bulletphysics/bullet3.git
	ignore = dirty
[submodule "Tools/premake-winrt"]
	path = Tools/premake-winrt
	url = https://github.com/wobbier/premake-winrt.git
[submodule "ThirdParty/OZZ"]
	path = ThirdParty/OZZ
	url = https://github.com/guillaumeblanc/ozz-animation.git
[submodule "ThirdParty/Brofiler"]
	path = ThirdParty/Brofiler
	url = https://github.com/bombomby/brofiler
	branch = v2.0
