[submodule "ThirdParty/GLM"]
	path = ThirdParty/GLM
	url = https://github.com/g-truc/glm.git
[submodule "ThirdParty/GLFW"]
	path = ThirdParty/GLFW
	url = https://github.com/glfw/glfw.git
[submodule "ThirdParty/Boost"]
	path = ThirdParty/Boost
	url = https://github.com/povilasb/boost-header-only.git
[submodule "ThirdParty/SOIL"]
	path = ThirdParty/SOIL
	url = https://github.com/Friduric/simple-opengl-image-library.git
[submodule "ThirdParty/Bullet"]
	path = ThirdParty/Bullet
	url = https://github.com/bulletphysics/bullet3.git
